@media (max-width: 1024px)
{
    .nav
    {
        display: none;
    }

    .nav_toggle
    {
        display: block;
    }

    .homeheader .col-sm-12, .header .col-sm-12
    {
        width:100%;
        max-width: 100%;
        text-align: center;
        flex-basis: 100%;
    }

    .header
    {
        max-height: none;
    }

    .search
    {
        position: relative;
        margin: 20px auto 0;
    }
    .searchinput
    {
        position: relative;
        margin: 20px auto 0;
    }

    .products
    {
        padding-bottom: 23px;
    }

    .products_item
    {
        width: 33%;
        margin-bottom: 20px;
    }

    .title_after
    {
        margin: 10px 0 15px
    }

    .vm
    {
        padding: 30px 0 50px
    }

    .activ
    {
        padding: 30px 0;
    }

    .activ_title
    {
        font-size: 22px;
    }
    
    .section
    {
        padding: 20px 0;
    }

    .article_title
    {
        font-size: 18px;
    }

    .advantage
    {
        margin: 20px 0;
    }

    .advantage .text30
    {
        text-align: left;
        width: auto;
    }

    .img-down.small
    {
        display: block;
    }

    .img-down.small img
    {
        display: block;
    }

    .img-down.large
    {
        display: none;
    }

    .tomatoone .col-sm-12, .tomatoone .col-sm-12
    {
        width:100%;
        max-width: 100%;
        flex-basis: 100%;
    }

    .downloadButton
    {
        display: flex;
        max-width: 232px;
    }

    .captcha
    {
        justify-content: center;
    }

    .captcha_item:last-child
    {
        width:100%;
    }

    .submit_button
    {
        display: block;
        margin: 10px auto 0;
    }

    .contact_address
    {
        padding: 20px 0;
    }

    .contact_bg, .tomatoall_bg
    {
        height: 320px
    }

    /* FOOTER */

    .links
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .links_item
    {
        display: inline-block;
        margin-right: 15px;
    }

    .soc
    {
        width:100%;
        text-align: left;
    }
}

@media(max-width: 768px)
{
    .vm_item
    {
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    .vm_text
    {
        width:100%;
    }

    .vm_text .title64, .vm_text .title_after
    {
        text-align: center;
    }

    .vm_img
    {
        max-width: 100%;
        margin: 10px auto 10px
    }

    .activ_inner
    {
        flex-wrap: wrap;
    }

    .activ_item
    {
        width:100%;
        height: auto;
    }

    .activ_img
    {
        display: block;
        height: auto;
    }

    .activ_title
    {
        font-size: 24px;
    }

    .activ_title::after
    {
        margin: 15px auto;
    }

    .articles
    {
        flex-wrap: wrap;
    }

    .article_item
    {
        width:100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .article_title
    {
        height: auto;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .tomatos
    {
        justify-content: center;
    }

    .tomatoone .row
    {
        padding-bottom: 10px;
    }

    .form_col
    {
        width:100%;
    }

    .form_col:last-child
    {
        width:100%;
    }

    .input_field, .input_field2, .textarea_field
    {
        max-width: none;
    }

    .captcha
    {
        justify-content: space-between;
    }

    .captcha_item:last-child
    {
        width:auto;
    }

    .submit_button
    {
        display: block;
        margin: 0
    }
    
    .contact_bg, .tomatoall_bg
    {
        height: 260px;
    }

    .cart_col
    {
        width: 50%
    }

    .cart_col.desc
    {
        display: none;
    }
}

@media(max-width: 640px)
{
    .banner_inner h1
    {
        font-size: 40px
    }

    .products_item
    {
        width: 50%;
    }

    .title64
    {
        font-size: 48px;
    }

    .title54
    {
        font-size: 40px;
    }

    .advantage .text30
    {
        font-size: 24px
    }

    .title44
    {
        font-size: 36px;
    }

    /* FOOTER */

    .links_item
    {
        display: inline-block;
        margin-right: 50%;
    }

    .links_item:last-child
    {
        margin-right: 50%;
    }

    .captcha
    {
        justify-content: center;
    }

    .captcha_item:last-child
    {
        width:100%;
    }

    .submit_button
    {
        display: block;
        margin: 10px auto 0;
    }
}

@media(max-width: 480px)
{
    .banner_inner h1
    {
        font-size: 34px
    }

    .contact_address .text17
    {
        font-size: 15px;
    }

    .contact_bg, .tomatoall_bg
    {
        height:120px;
    }

    .img-down.small img
    {
        max-height: 380px;
    }

    .text20.cart_col
    {
        font-size:16px;
    }
}

@media(max-width: 400px)
{
    .products_item
    {
        width: 100%;
    }

    .img-down.small img
    {
        max-height: 300px;
    }
}

@media(max-width: 320px)
{

}