@font-face
{
	font-family: 'Roboto Slab';
	src: url('../fonts/Robotoslabbold.ttf') format('ttf'),
		 url('../fonts/Robotoslabbold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Roboto Slab';
	src: url('../fonts/Robotoslabmedium.ttf') format('ttf'),
		 url('../fonts/Robotoslabmedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: 'Roboto Slab';
	src: url('../fonts/Robotoslabregular.ttf') format('ttf'),
		 url('../fonts/Robotoslabregular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Roboto Slab';
	src: url('../fonts/Robotoslabsemibold.ttf') format('ttf'),
		 url('../fonts/Robotoslabsemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: 'Heebo';
	src: url('../fonts/Heebo-Medium.ttf') format('ttf'),
		 url('../fonts/Heebo-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('ttf'),
		 url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style:normal;
}

.container
{
	width: 100%;
	max-width: 1140px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
}

.container .row
{
	margin-right: 0;
	margin-left: 0;
}

body
{
	font-family: 'Roboto Slab';
	font-weight: 400;
}

.homeheader
{
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	z-index: 100;
}

.header
{
	display: block;
	position: relative;
	height: auto;
	max-height: 122px;
	background-color: white;
	padding: 20px 0;
	box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
	z-index: 100;
}

.header .nav
{
	bottom: 0;
}

.logo
{
	max-width: 166px;
	max-height: 83px;
}

.search
{
	display: block;
	position: absolute;
	width: 100%;
	right:0;
	top:0;
	text-align: left;
}

.searchinput
{
	position:absolute;
	right:0;
	width:100%;
	max-width:350px;
	height: 29px;
	
	color:black;
	border-bottom: 1px solid #324950;
}

.searchinput input
{
	width:100%;
	max-width:350px;
	font-size: 16px;
	background:transparent;
	border:0;
}

.searchinput img
{
	position:absolute;
	right:0;
	top:0;
}

.nav
{
	position: absolute;
	right:0;
	bottom: 10px;
}

.nav.active
{
	display:block;
	width: 100%;
	height: auto;
	flex-wrap:wrap;
	position:absolute;
	top: 60px;
	right: 0;
}

.nav.active .nav_item
{
	display: block;
	width:100%;
	margin: 0;
	background-color: #e6e6e6;
}

.nav.active .nav_item:first-child
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.nav.active .nav_item:last-child
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.nav.active .nav_item:hover
{
	background-color: rgb(224, 224, 224);
}

.nav_item
{
	font-family: 'Heebo';
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	text-decoration:none;
	color: #324950;
	margin-right: 20px;
	transition: color .1s linear;
}

.nav_item:hover
{
	text-decoration: none;
	color:#64afc4;
}

.nav_item:last-child
{
	margin-right: 0;
}

.nav_toggle
{
	display: none;
	position: absolute;
	top: -90px;
	right: 0px;
	width: 50px;
	height: 50px;
	border: 0;
	padding: 0;
	cursor:pointer;
	background-color: transparent;	
}



.nav_toggle, .nav_toggle:active, .nav_toggle:focus
{
	outline: none;
}

.nav_toggle_item, .nav_toggle_item::before, .nav_toggle_item::after
{
	width: inherit;
	display:block;
	height: 5px;
	border-radius: 3px;
	background-color: #324950;
	transition: transform .1s linear;
}

.nav_toggle_item::before, .nav_toggle_item::after
{
	content: "";
	position: absolute;
}

.nav_toggle.active .nav_toggle_item
{
	background-color: transparent;
}

.nav_toggle_item:before{
	top:11px;
}

.nav_toggle.active .nav_toggle_item:before{
	top:inherit;
	transform: rotate(45deg);
}

.nav_toggle_item:after{
	bottom:10px;
}

.nav_toggle.active .nav_toggle_item:after{
	bottom: inherit;
	transform: rotate(-45deg);
}

.nav_toggle.active .nav
{
	display: flex;
}

/* BANNER */

.banner
{
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 100vh;
	min-height: 700px;
	background: url("../images/banner/bg.png") center no-repeat;
	background-size:cover;
}

.banner_inner
{
	text-align: center;
}

.banner_inner h1
{
	font-size: 48px;
	font-weight: 700;
	color: #735440;
	line-height: 142.7%;
	margin-bottom: 76px;
}

.banner_inner a
{
	font-weight: 500;
	font-size: 16px;
	line-height: 142.7%;
	color:white;
	padding: 16px 31px;
	background-color: #57984C;
	transition: color .1s linear,
				background-color .1s linear,
				border .1s linear;
}

.banner_inner a:hover
{
	text-decoration: none;
	color: #57984C;
	background-color: white;
	border: 3px solid #57984C;
}

.subscribe-window
{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(63, 63, 77);
	border-radius: 30px;
	border: 7px solid rgb(57, 57, 70);
	padding: 30px 40px;
	z-index: 10000;
}

.bg-sub-window
{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

.subscribe-window .text20
{
	color: rgb(179, 185, 162);
}

.sub-title
{
	display: flex;
	justify-content: space-between;
}

.sub-title .cross
{
	position: relative;
	width: 50px;
	height: 30px;
	margin-right: 1px;
}

.sub-title .cross, .sub-btns button
{
	cursor: pointer;
}

.sub-btns button
{
	transition: transform .1s linear;
}

.sub-btns button:hover
{
	transform: scale(1.05, 1.05);
}

.sub-title .cross .cross_item
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 5px;
}

.sub-title .cross .cross_item::after, .sub-title .cross .cross_item::before
{
	background-color: rgb(161, 160, 92);
}

.sub-title .text20
{
	margin: 0 25px
}

.sub-btns
{
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

.sub-btns button, .subscribe-for-push
{
	display: block;
	width: 100px;
	height: 40px;
	outline: 0;
	border: 0;
	border-radius: 12px;
	color: rgb(48, 48, 43);
	font-weight: 700;
	background-color: rgb(161, 160, 92);	
}

.subscribe-for-push
{
	display: block;
	margin: 40px auto;
	padding: 10px 30px;
	width: auto;
	height: auto;
	color: rgb(177, 175, 90);
	background-color: rgb(63, 63, 77);
	cursor: pointer;
}

/* PRODUCTS */

.products
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: auto;
	max-width: 1920px;
	height: auto;
	margin: 0 auto;
	padding: 43px 15px;
}

.products_item
{
	height: auto;
	display: block;
	text-align: center;
	width: 14%;
	
}

.products_item:last-child
{
	margin-right: 0;
}

.products h1
{
	margin-top: 20px;
	font-weight: 400;
	font-size: 20px;
	line-height: 142.7%;
	color: #324950;
}

/* GENERAL */

.section
{
	padding: 50px 0;
}

input, select, button, button:active, button:focus
{
	outline: 0;
}

h1
{
	margin:0;
}

.title64, .title44, .title54, .title20
{
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 64px;
	line-height: 142.7%;
	color: #324950;
}

.title20
{
	font-size: 20px;
}

.title20::after
{
	content:"";
	display: block;
	width:182px;
	height:1px;
	background-color: #57984C;
	margin: 12px 0 24px;
}

.title44
{
	font-size: 44px;
}

.title54
{
	font-size: 54px;
}

.title_after
{
	display: block;
	width:100%;
	margin: 25px 0 30px;
}

.cross
{
	width: 8px;
	height: 8px;
	display: inline-block;
}

.cross_item
{
	display: block;
	width: 8px;
	height: 2px;
	background: transparent;
}

.cross_item::before,
.cross_item::after
{
	content:"";
	position:absolute;
	display:block;
	width:inherit;
	height: inherit;
	background: #57984C;
	border-radius: 2px;
}

.cross_item::before
{
	transform: rotate(-45deg)
}

.cross_item::after
{
	transform: rotate(45deg);
}

.text20, .text17, .text16, .text30
{
	display: block;
	width:100%;
	font-weight: normal;
	line-height: 162.7%;
	color: #324950;
}

.text20.g, .text17.g, .text16.g, .title54.g, .title20
{
	color: #57984c;
}

.text30.r
{
	color: #CF2333;
}

.text17.marked
{
	border-left: 4px solid #EB5757;
	border-radius: 3px;
	padding-left: 25px;
}

.text20
{
	font-size: 20px;
}

.text17
{
	font-size: 17px;
	line-height: 150%;
}

.text16
{
	font-size: 16px
}

.text30
{
	line-height: 142.7%;
	font-size:30px;
}

.backbutton
{
	display: block;
	margin: 18px 0;
	font-size: 14px;
	color: #57984c;
}

.backbutton:hover
{
	color: #57984c;
	text-decoration: none;
}

.backbutton img
{
	margin-right: 15px;
}

/* VISION_MISSION */

.vm
{
	width: 100%;
	height: auto;
	padding: 71px 0 100px;
	position: relative;
	background-color: #f7f7f7;
}

.bg_img
{
	
	background: url("../images/vm/union.png") center no-repeat;
	background-size: cover;
}

.vm_inner
{
	width: 100%;
	height: auto;
}

.vm_item
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 100px;
}

.vm_item:last-child
{
	margin-bottom: 0;
}

.vm_img
{
    position: relative;
	display: flex;
	width:auto;
	max-width: 50%;
    height:auto;
	max-height: 500px;
	
}

.vm_img img
{
	max-width:100%;
    max-height: 100%;
	box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
}

.play_button
{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.play_button button
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90px;
	height: 90px;
	margin:0 auto;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 20px 30px rgb(0, 0, 0, 0.3);
	padding:0;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.play_button button img
{
	display: block;
	margin:0 auto;
	box-shadow: none;
}

.triangle
{
	display: block;
	margin: 0 auto;
	border: 15px solid transparent;
	border-left: 25px solid #57984C;
}

.vm_text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
	width: 45%;
}

.activ
{
	display: block;
	width: 100%;
	padding: 70px 0;
	text-align: center;
	background-color: #ededed;
}

.activ_inner
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.activ_item
{
	display: block;
	width:31%;
	height: 320px;
	transition: transform .1s linear;
	text-decoration: none;
}

.activ_item:hover
{
	text-decoration: none;
	transform: scale(1.05, 1.05);
}

.activ_img
{
	display: block;
	padding: 15px 0;
	position: relative;
	height: 170px;
	margin: 0 auto;
}

.activ_img img
{
	display: inline;
	max-width: 100%;
	max-height: 100%;
}

.activ_title
{
	font-weight: bold;
	font-size: 24px;
	color: #57984C;
}

.activ_title::after
{
	content:"";
	display: block;
	width: 183px;
	height: 1px;
	margin: 25px auto;
	background-color: #57984C;
}

.activ_text
{
	width: 100%;
	font-weight: normal;
	font-size: 18px;
	line-height: 142.7%;
	color: #324950;
}

/* LINKS_SOC */

.links_soc
{
	padding: 25px 0;
	background-color: #2D3F45;
}

.links_soc .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.links
{
	display: block;
	width: 72%;
	font-family: Roboto;

}

.links_item
{
	color:white;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 35px;
}

.links_item:last-child
{
	margin-right: 0;
}

.links_item:hover
{
	text-decoration: underline;
	color:white;
}

.soc
{
	display: block;
	width: 25%;
	text-align: right;
}

.soc_item
{
	margin-right: 10px;
}

.soc_item:last-child
{
	margin-right: 0;
}

.copyright
{
	font-family: Roboto;
	padding: 15px 0;
	text-align: center;
	background-color: #324950;
	font-weight: normal;
	font-size: 14px;
	color: #B9B9B9;
}

/* TOMATO_ALL */

.tomatoall_bg
{
	display: block;
	height:480px;
	background: url(../images/garlic/bg.jpeg) center no-repeat;
	background-size: cover;
}

.tomatoall_content
{
	background-color: #fdf2e3;;
}

.articles
{
	display: flex;
	justify-content: space-between;
	max-width: 1152px;
	margin: 30px auto 40px;
	padding: 50px 20px;
	background-color: white;
}

.article_item
{
	width: 33.333%;
	margin-right: 30px;
}

.article_item:last-child
{
	margin-right: 0px;
}

.article_title
{
	display: block;
	height: 80px;
	line-height: 142.7%;
	border-bottom: 1px solid #324950;
	margin-bottom: 15px;
}

.tomatoall_content p
{
	margin: 20px 0;
}

.tomatoes.container
{
	padding-right: 0;
	max-width: 1160px;
}

.tomatos
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 40px;
}

.tomatos_item
{
	display: block;
	position: relative;
	max-width: 350px;
	margin-right: 30px;
	margin-bottom: 30px;
	transition: transform .1s linear;
}

.tomatos_item:hover
{
	transform: scale(1.05, 1.05);
}

.tomatos_item img
{
	max-width: 100%;
	max-height: 100%;
}

.tomatos_title
{
	text-align: center;
	margin:0;
}

.tomato_desc
{
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: 0;
	padding: 9px 18px;
	background-color: white;
	z-index: 1000;
}

.tomato_desc p
{
	text-align: center;
	margin: 0;
}

.tomatoone_bg
{
	background-color: #f7f7f7;
	background-image: url(../images/tomatoall/bg2.png);
	background-repeat: no-repeat;
	background-position: center;
}

.tomatoone .row
{
	padding-bottom: 40px;
}

.tomatoone .col-md-6
{
	padding: 0;
	padding-right: 10px;
}

.tomatoone .col-md-6:last-child
{
	padding-left: 10px;
}

.advantage
{
	display: flex;
	align-items: center;
	margin: 40px 0;
}

.advantage img
{
	margin-right: 20px;
}

.property
{
	display: block;
	margin-bottom: 30px;
}

.property .text20
{
	font-weight: 700;
}

.property .text20::after
{
	content:"";
	display: block;
	width:182px;
	height:1px;
	background-color: #57984C;
	margin: 12px 0 24px;
}

.property p.text17
{
	line-height: 162.7%;
	margin: 0;
}

.property .text20
{
	line-height: 142.7%;
}

.property ul
{
	padding-inline-start: 18px;
	font-size: 17px;
	line-height: 200%;
}

.property li
{
	padding-left: 10px;
}

.property li::marker
{
	color: #57984C;
}

.img-down
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width:100%;
	height: auto;
}

.img-down.small
{
	display: none;
	width: auto;
}

.img-down img
{
	max-width: 100%;
	max-height: 100%;
}

.downloadButton
{
	display: inline-block;
	margin: 30px 0 35px;
	padding: 12px 30px;
	border: 2px solid #57984C;
	border-radius: 60px;
	background-color: white;
	font-weight: bold;
	font-size: 17px;
	line-height: 200%;
	transition: background-color .1s linear;
	color: #57984C;
}

.downloadButton:active, .downloadButton:hover, .downloadButton:focus
{
	outline: none;
}

.downloadButton img
{
	margin-right: 20px;
}

.downloadButton:hover
{
	text-decoration: none;
	color: #57984C;
	background-color: rgb(229, 247, 214);
}

/* CONTACT */

.contact_bg
{
	display: block;
	height:480px;
	background: url(../images/contact/contact_bg.jpg) center no-repeat;
	background-size: cover;
}

.contact_form form
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 17px;
	line-height: 150%;
}

.form_col
{
	width: 32%
}

.form_col:last-child
{
	width: 57.8%;
}

.contact_form
{
	background-color: #f7f7f7;
}

.contact_address
{
	background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
}

.input_field, .input_field2, .textarea_field
{
	width:100%;
	max-width: 350px;
	margin: 10px 0 20px;
	padding: 15px 10px;
	border: 1px solid #DADADA;
	border-radius: 10px;
	background-color: white;
}

.input_field:focus, .input_field2:focus, .textarea_field:focus
{
	border-color: #9c9c9c;
}

.input_field2, .textarea_field
{
	width:100%;
	max-width: 635px;
}

.textarea_field
{
	display: block;
	height:392px;
	outline: none;
	resize: none;
}

.captcha
{
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0 20px;
}

.input_captcha
{
	display: flex;
	align-items: center;
	
}

.captcha .input_field
{
	width: 100%;
	margin: 0;
	max-width: 200px;
}

.submit_button
{
	padding: 10px 70px;
	background-color: #57984C;
	border-radius: 60px;
	border:0;
	color:white;
	line-height: 200%;
	font-weight: normal;
	font-size: 17px;
	transition: background-color .1s linear;
}

.submit_button:hover
{
	background-color: #528f47;
	cursor: pointer;
}

.contact_address
{
	padding: 44px 0;
}

.address_inner
{
	display: block;
	text-align: center;
	width: 30%;
	min-width: 288px;
	margin: 0 auto;
}

.address_inner .title20::after
{
	margin-right: auto;
	margin-left: auto;
}

.address_inner p
{
	margin: 0;
}

.address_inner p span
{
	color: #57984C;;
}

/* CART */

.cart_item
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.cart_col .cross_item
{
	width: 30px;
	height: 5px;
}

.cart_col .cross_item::before, .cart_col .cross_item::after
{
	top: 12px;
}

.cart_col
{
	width: 40%;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.cart_col:first-child
{
	width:auto;
}

.cart_col:last-child
{
	width: 4%;
}

.cart_item .cross
{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#form_info
{
	display: none;
}

#caps
{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.Notification
{
	border: 5px solid pink
}