<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name=viewport content="width=320, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css">
        <title>Contact us</title>
    </head>
    <body id="body">
		<header class=header>
			<div class=container>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<img class=logo src="images/Logo.png">
					</div>
					<div class="col-md-8 col-sm-12">
						<form class=search>
							<div class=searchinput>
								<input type=search name=search placeholder=Search>
								<img src="images/ico_search.png">
							</div>
						</form>
						
						<div class="nav" id="nav">
							<a class=nav_item href=index.html>Home</a>
							<a class=nav_item href=#>Company</a>
							<a class=nav_item href=#>Profile</a>
							<a class=nav_item href=tomato_all.html>Products</a>
							<a class=nav_item href=#>Services</a>
							<a class=nav_item href=#>R&D</a>
							<a class=nav_item href=contact.html>Contact</a>
						</div>

						<button class="nav_toggle" id=nav_toggle>
							<div class=nav_toggle_item></div>
						</button>
					</div>
				</div>
			</div>
		</header>
		<div class=contact_bg></div>
		<main id="prod">
			<div class="section contact_form">
				<div class=container>
					<div class=title44>Contact us</div>
					<div class=title_after>
						<div class=cross><div class=cross_item></div></div>
						<div class=cross><div class=cross_item></div></div>
						<div class=cross><div class=cross_item></div></div>
						<div class=cross><div class=cross_item></div></div>
						<div class=cross><div class=cross_item></div></div>
					</div>

					<div class=cart_item v-for="c in cart">
						<div class=cart_col><img :src="'images/garlic/' + c.image" width=150 height = 150></div>
						<div class="text20 cart_col">{{ c.title }}</div>
						<div class="text16 cart_col desc">{{ c.desc }}</div>
						<div class="cart_col">
							<div class=cross @click = "removeFromCart(c.id)">
								<div class=cross_item></div>
							</div>
						</div>
					</div>

					<div id="form_info">
						<p class=text17 v-for="(value, name) in contactFields">
							<span class=text20 style="text-transform: capitalize;">{{ name }}: </span>{{ value }}
						</p>
					</div>

					<form id="form" @submit.prevent="makeOrder">
						<div class=form_col>
							<div class=form_item>
								Name *
								<input class=input_field name=name v-model="contactFields.name" required>
							</div>
								
							<div class=form_item>
								Company Name
								<input class=input_field name=company_name v-model="contactFields.company">
							</div>
								
							<div class=form_item>
								Position
								<input class=input_field name=position v-model="contactFields.position">
							</div>
								
							<div class=form_item>
								City
								<input class=input_field name=city v-model="contactFields.city">
							</div>
								
							<div class=form_item>
								Country
								<input class=input_field name=country v-model="contactFields.country">
							</div>
								
							<div class=form_item>
								Telephone
								<input class=input_field name=telephone v-model="contactFields.telephone">
							</div>
								
							<div class=form_item>
								Email *
								<input class=input_field type=email name=email v-model="contactFields.email" required>
							</div>
						</div>

						<div class=form_col>
							<div class=form_item>
								You are a
								<select class=input_field2 name=youare v-model="contactFields.you">
									<option>seed producer</option>
								</select>
							</div>
							<div class=form_item>
								If other, please specify
								<input class=input_field2 name=other v-model="contactFields.other">
							</div>
							<div class=form_item>
								You are interested in
								<textarea class=textarea_field v-model="contactFields.interests"></textarea>
							</div>
							<div class=form_item>
								Please type this code
								<div class=captcha>
									<div class=input_captcha>
										<div class=captcha_item><img src="images/contact/captcha.png"></div>
										<div class=captcha_item><input class=input_field name=captcha></div>
									</div>
									<div class=captcha_item><input class=submit_button type=submit value="Send Message"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class=contact_address>
				<div class=container>
					<div class=address_inner>
						<h1 class="title20 g">Our Address</h1>
						<p class=text17>AGRIDERA Seeds & Agriculture Ltd.</p>
						<p class=text17>P.O Box 103,</p>
						<p class=text17>Gedera 70750, Israel.</p>
						<p class=text17>Telephone: <span>+972 8 944 9222</span></p>
					</div>
				</div>
			</div>
			
		</main>
		
		<footer>
			<div class=links_soc>
				<div class=container>
					<div class=links>
						<a class=links_item href=#>Profile</a>
						<a class=links_item href=#>Management</a>
						<a class=links_item href=#>Products</a>
						<a class=links_item href=#>R&D</a>
						<a class=links_item href=#>Links</a>
						<a class=links_item href=#>SiteMap</a>
						<a class=links_item href=#>Contact</a>
					</div>
					<div class=soc>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_in.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_inst.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_tube.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_tw.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_fb.png"></a>
					</div>
				</div>
			</div>
			<div class=copyright>
				<div class=container>
					AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
				</div>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/main.js"></script>
		<script src="js/app.js"></script>
    </body>
</html>