<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name=viewport content="width=320, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css">
        <title>Tomato one</title>
    </head>
    <body class=tomatoone_bg id=body>
		<header class=header>
			<div class=container>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<img class=logo src="images/Logo.png">
					</div>
					<div class="col-md-8 col-sm-12">
						<form class=search>
							<div class=searchinput>
								<input type=search name=search placeholder=Search>
								<img src="images/ico_search.png">
							</div>
						</form>
						
						<div class="nav" id="nav">
							<a class=nav_item href=index.html>Home</a>
							<a class=nav_item href=#>Company</a>
							<a class=nav_item href=#>Profile</a>
							<a class=nav_item href=tomato_all.html>Products</a>
							<a class=nav_item href=#>Services</a>
							<a class=nav_item href=#>R&D</a>
							<a class=nav_item href=contact.html>Contact</a>
						</div>

						<button class="nav_toggle" id=nav_toggle>
							<div class=nav_toggle_item></div>
						</button>
					</div>
				</div>
			</div>
		</header>
		<main class=tomatoone>
			<div class=container>
				<a class="backbutton g" href=tomato_all.html><img src="images/arrow.png">Return to all tomatoes</a>
				<div class=row id="prod">
					<div class="col-sm-12 col-md-6">
						<div class="title54">{{ product.title }} ({{ product.short_text }})</div>
						<div class="title54 g">{{ product.desc }}</div>
						<div class=title_after>
							<div class=cross><div class=cross_item></div></div>
							<div class=cross><div class=cross_item></div></div>
							<div class=cross><div class=cross_item></div></div>
							<div class=cross><div class=cross_item></div></div>
							<div class=cross><div class=cross_item></div></div>
						</div>
						
						<div class="img-down small">
							<img :src="'images/garlic/' + product.image" width=530 height=488>
							<a class=downloadButton href=# @click.prevent="addToCart(product.id)" v-if="!btnVisible"><img src="images/ico_pdf.png" class=download_icon>Add to cart</a>
							<a class=downloadButton href="contact.html" v-if="btnVisible"><img src="images/ico_pdf.png" class=download_icon>Go to cart</a>
						</div>

						<div class=advantage>
							<img src="images/tomatoall/tomatologo.png" width=80 height=80>
							<div class="text30 r"><strong>Very high yield and excellent fruits quality!</strong></div>
						</div>

						<div class=property>
							<div class="text20 g">CHARACTERISTICS</div>
							<p class=text17><strong>Resistance</strong></p>
							<p class=text17>HR: ToMV:0-2; Fol: 1,2; Ve/Vd; </p>
							<p class=text17>IR: TYLCV</p>
						</div>
						<div class=property>
							<div class="text20 g">Plant</div>
							<ul>
								<li>Strong vigor that provides good leaf coverage.</li>
								<li>Very high productivity with good fruit setting.</li>
								<li>Early matured variety.</li>
							</ul>
						</div>
						<div class=property>
							<div class="text20 g">Fruit</div>
							<ul>
								<li>Long shelf life on plant and post harvest.</li>
								<li>Nice shiny attractive deep red color.</li>
								<li>Average fruit size: 140 – 160 grams.</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="img-down large">
							<img :src="'images/garlic/' + product.image" width=530 height=488>
							<a class=downloadButton href=# @click.prevent="addToCart(product.id)" v-if="!btnVisible"><img src="images/ico_pdf.png" class=download_icon>Add to cart</a>
							<a class=downloadButton href="contact.html" v-if="btnVisible"><img src="images/ico_pdf.png" class=download_icon>Go to cart</a>
						</div>
						<div class=property>
							<div class="text20 g">Cycle</div>
							<ul>
								<li>Spring</li>
								<li>Fall</li>
								<li>Winter</li>
							</ul>
						</div>
						<div class=property>
							<div class="text20 g">Color</div>
							<ul>
								<li>Red</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<footer>
			<div class=links_soc>
				<div class=container>
					<div class=links>
						<a class=links_item href=#>Profile</a>
						<a class=links_item href=#>Management</a>
						<a class=links_item href=#>Products</a>
						<a class=links_item href=#>R&D</a>
						<a class=links_item href=#>Links</a>
						<a class=links_item href=#>SiteMap</a>
						<a class=links_item href=#>Contact</a>
					</div>
					<div class=soc>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_in.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_inst.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_tube.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_tw.png"></a>
						<a class=soc_item href=#><img src="images/soc_icons/Ico_fb.png"></a>
					</div>
				</div>
			</div>
			<div class=copyright>
				<div class=container>
					AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
				</div>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/main.js"></script>
		<script src="js/app.js"></script>
    </body>
</html>